*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
div{
  padding: 10px;
  color: white;
  background-color: #067065;
}

div pre{
  text-align: justify;
}

